header{
    background-color: #D9D9D9;
    height: 70px;
    border-bottom: solid 10px grey;
    font-family: "mineplayer";
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
a{
    text-decoration: none;
}
header>a{
    margin-left: 6%;
    color: #2F2E2E;
}
header>a::before{
    content: "<";
    justify-self: start;
    font-family: "minecraftia";
    justify-content: right;
    margin-left: 15;
    font-size: xx-large;
}
header>p{
    font-size: xx-large;
    margin-right: 6%;
}
header>span>img{
    height: 62px;
    width: 62px;
    transform: translate(-100%);
}
#modo {
    width: 62px;
    opacity: 0%;
    z-index: 5;
    transform: translate(-150%);
    bottom: 5px;
}
#troca{
    width: 52px;
    height: 52px;
    position: relative;
    top: -5px;
}
:root {
  --bg-color: #C0C0C0;
  --border: #646464;
  --text: black;
}
.darkmode{
  --bg-color: #2F2E2E;
  --border: #646464;
  --text: white;
}
ul{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 3vh;
    font-family: "minecraftia";
    width: 90%;
    margin-left: 4%;
}
ul>a{
    width: 100%;
    height: 66px;
    padding: 8px;
    font-size: 1.6em;
    background-color: var(--bg-color);
    border: solid 6px var(--border);
    text-align: center;
    color: var(--text);
}
a>img{
    height: 35px;
    vertical-align: bottom;
    margin-right: 10px;
}
#on{
    height: 60px;
    vertical-align: middle;
    margin-top: 3px;
}
@media (max-width: 784px) {
    img{
        display: none;
    }
    #troca{
        display: inline-block;
    }
}
@media (max-width: 750px){
        ul{
            grid-template-columns: auto;
        }
        #on{
            width: 98%;
            margin-left: 1%;
        }
        img{
            display: inline-block;
        }
  }
@media (max-width: 324px){
    img{
        display: none;
    }
    #modo{
        left: 110px;
        top: -25px;
    }
    #troca{
        top: 30px;
        left: 22px;
    }
  }