:root{
    --git-back: #1F4C11;
    --git-border: #3B8726;
    --git-out: #000000;
    --proj: #aaa7a7;
    --proj-border: #414141;
}
.darkmode{
    --proj: #414141 ;
    --proj-border: #181717;
}
.github {
    font-family: 'Minecraftia';
    font-size: 1.2rem;
    position: absolute;
    right: 6%;
    color: white;
    margin-top: 20px;
    width: 22%;
    height: 50px;
    text-align: center;
    padding: 6px;
    background-color: var(--git-back);
    border: solid 4px var(--git-out);
}
.gitin {
    width: 104%;
    position: relative;
    right: 2%;
    bottom: 6px;
    border: solid 4px var(--git-border);
}
#primeiro{
    margin-top: 90px;
}
.projeto {
    width: 90%;
    height: 120px;
    margin-left: 5%;
    margin-top: 10px;
    background-color: var(--proj);
    display: flex;
    align-items: center;
}
.linkproj {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
}
.imgproj{
    width: 201px;
    height: 90px;
    margin-left: 5%;
}
.txtproj {
    font-family: 'Minecraftia';
    font-size: large;
    color: var(--text);
    position: relative;
    left: 30px;
}
.repo{
    font-family: 'Minecraftia';
    color: var(--text);
    position: relative;
    margin-left: auto;
    margin-right: -6px;
    text-align: center;
    border: solid 6px var(--proj-border);
    width: 158px;
    height: 120px;

}
.gear {
    width: 68px;
    height: 63px;
    margin-top: 15px;
}
@media (max-width: 784px) {
    .imgproj {
        display: inline-block;
    }
    .gear {
        display: inline-block;
    }
}
@media (max-width: 750px) {
    .github {
        width: 40%;
    }
}
@media (max-width: 565px) {
    .repo {
        display: none;
    }
}
@media (max-width: 420px) {
    .imgproj {
        display: none;
    }
    .txtproj {
        text-align: center;
        width: 50%;
    }
}